* {
    text-align: center;
}

body {
    background-color: lightseagreen;
}

h1 {
    font-size: 40px;
    text-align: center;
}

nav {
    display: flex;
    padding: 10px;
    justify-content:space-around;
}

a {
    background-color: blue;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    border: red solid 2px;
}

p {
    font-size: 40px;
}

.contenedor {
    margin-left: 30%;
}

.cumpleañero {
    background-color: blue;
    border-radius: 5px;
    width: 50%;
    color: white;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}

.alumno {
    background-color: blue;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

footer {
    display: inline-block;
    background-color: blue;
    color: white;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    bottom: 0;
}