{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'core/cake.ico' %}" type="image/x-icon">
    <title>{% block title %}Inicio{% endblock %}</title>
    {% block extra_styles %} <link rel="stylesheet" href="{% static 'core/css/index.css' %} "> {% endblock %}
</head>

<body>
    <header>
        <h1>
            {{titulo}}
        </h1>
        <nav>
            <a href='{% url "index" %}'>Inicio</a>
            <a href='{% url "acerca_de" %}'>Acerca de</a>
            <a href='{% url "agregar_cumple" %}'>Agregar cumpleaños</a>
            <a href='{% url "cumple_guardado" %}'>Cumpleaños guardados</a>
            
        </nav>
    </header>
    <main>
        <p>
            {% block content %}Presentamos esta página para gente como vos y como nosotros, que siempre nos olvidamos de nuestros seres queridos y se ofenden porque olvidamos su cumpleaños. Así podrás cargar y guardar
            los cumpleaños de familiares y amigos y quedar como un rey/reina al saludarlos en su día.{% endblock %}
        </p>
    </main>
    <footer>
        Copyright © 2022 <br>
        Codo a Codo
    </footer>
</body>

</html>